$colors: (
  "accent": (
    19: rgb(0, 38, 202, 19%),
    100: #000075,
    90: rgb(0, 0, 209, 90%),
    85: rgb(0, 0, 209, 85%),
    80: rgb(0, 0, 209, 80%),
    75: rgb(0, 0, 209, 75%),
    70: rgb(0, 0, 209, 70%),
    65: rgb(0, 0, 209, 65%),
    60: rgb(0, 0, 209, 60%)
  ),
  "olive": (
    100: #5FD855,
    90: rgb(95, 216, 85, 90%),
    85: rgb(95, 216, 85, 85%),
    80: rgb(95, 216, 85, 80%),
    75: rgb(95, 216, 85, 75%),
    70: rgb(95, 216, 85, 70%),
    65: rgb(95, 216, 85, 65%),
    60: rgb(95, 216, 85, 60%),
    19: rgb(44, 148, 35, 19%)
  ), 
  "alert": (
    100: #FFB800,
    90: rgb(255, 184, 0, 90%),
    85: rgb(255, 184, 0, 85%),
    80: rgb(255, 184, 0, 80%),
    75: rgb(255, 184, 0, 75%),
    70: rgb(255, 184, 0, 70%),
    65: rgb(255, 184, 0, 65%),
    60: rgb(255, 184, 0, 60%),
    19: rgb(197, 157, 57, 19%)
  ),
  "error": (
    100: #C73E1D,
    90: rgb(199, 62, 29, 90%),
    85: rgb(199, 62, 29, 85%),
    80: rgb(199, 62, 29, 80%),
    75: rgb(199, 62, 29, 75%),
    70: rgb(199, 62, 29, 70%),
    65: rgb(199, 62, 29, 65%),
    60: rgb(199, 62, 29, 60%),
    19: rgb(199, 62, 29, 19%)
  ),
  "secondary": (
    100: #6c757d,
    90: rgb(108, 117, 125, 90%),
    85: rgb(108, 117, 125, 85%),
    80: rgb(108, 117, 125, 80%),
    75: rgb(108, 117, 125, 75%),
    70: rgb(108, 117, 125, 70%),
    65: rgb(108, 117, 125, 65%),
    60: rgb(108, 117, 125, 60%)
  ),
  "dark": (
    100: #303030,
    90: rgb(48, 48, 48, 90%),
    85: rgb(48, 48, 48, 85%),
    80: rgb(48, 48, 48, 80%),
    75: rgb(48, 48, 48, 75%),
    70: rgb(48, 48, 48, 70%),
    65: rgb(48, 48, 48, 65%),
    60: rgb(48, 48, 48, 60%)
  ),
  "critical": (
    100: #e700e7,
    90: rgb(231, 0, 231, 90%),
    85: rgb(231, 0, 231, 85%),
    80: rgb(231, 0, 231, 80%),
    75: rgb(231, 0, 231, 75%),
    70: rgb(231, 0, 231, 70%),
    65: rgb(231, 0, 231, 65%),
    60: rgb(231, 0, 231, 60%)
  ),
  "other": (
    "gray": #292929,
    "disable-100": rgba(102, 102, 102, 0.86),
    "light-100": #ffffff,
    "dark-100": #303030
  )
);

@each $category, $values in $colors {
  @each $key, $value in $values {
    .bg__#{$category}--#{$key} {
      background-color:$value; 
      color: white;
    }
    .text--#{$category}--#{$key}{
        color: $value;
    }
  }
}