@import './variables/color';
body{
    font-family: "Quicksand", serif;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.logo{
    width: 200px;

}
.nav-item a:hover {
    color: #007bff;
}
.navbar {
    justify-content: space-between;
}





.center-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.courses-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.bg-purple{
    background-color: lighten(#000075, 73%);
}
.layer{
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/612/753/non_2x/wildlife-background-concept-free-vector.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bottom-modal {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)  !important;
    width: 90%;
    margin: 0;

  }


.tiger{
    width: 112px;
    top: -54px;
    z-index: 1;
}
.nav-pills{
    .nav-item{
       
        .nav-link{
            &:not(.active){
                color: white;
            }
            &:is(.active){
                background-color: white;
                @extend .text--accent--65;
                border-radius: 0.5rem;
            }
        }
    }
}
/* Reduce font size on smaller screens */
@media (max-width: 576px) {
    .responsive-title {
        font-size: 1rem; /* Smaller title font size */
    }
    .responsive-text {
        font-size: 0.83rem; /* Smaller text font size */
    }
    .courses-img{
        width: 100px;
        object-fit: cover;
    }
    .logo{
        width: 150px;
    }
    .d .d-flex.justify-content-start {
        justify-content: flex-start !important;
    }
}
 /* Custom styles */
 .fun-icons {
    font-size: 1.5rem;
    color: #ff69b4;
}
.counter {
    font-size: 3rem;
    font-weight: bold;
  }
.card-custom {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fce4ec;
    transition: transform 0.3s;
}

.card-custom:hover {
    transform: translateY(-5px);
}

/* Mobile adjustments */
@media (max-width: 767px) {
    .fun-icons {
        font-size: 1.2rem
    }
}

