.bg__accent--19 {
  background-color: rgba(0, 38, 202, 0.19);
  color: white;
}

.text--accent--19 {
  color: rgba(0, 38, 202, 0.19);
}

.bg__accent--100 {
  background-color: #000075;
  color: white;
}

.text--accent--100 {
  color: #000075;
}

.bg__accent--90 {
  background-color: rgba(0, 0, 209, 0.9);
  color: white;
}

.text--accent--90 {
  color: rgba(0, 0, 209, 0.9);
}

.bg__accent--85 {
  background-color: rgba(0, 0, 209, 0.85);
  color: white;
}

.text--accent--85 {
  color: rgba(0, 0, 209, 0.85);
}

.bg__accent--80 {
  background-color: rgba(0, 0, 209, 0.8);
  color: white;
}

.text--accent--80 {
  color: rgba(0, 0, 209, 0.8);
}

.bg__accent--75 {
  background-color: rgba(0, 0, 209, 0.75);
  color: white;
}

.text--accent--75 {
  color: rgba(0, 0, 209, 0.75);
}

.bg__accent--70 {
  background-color: rgba(0, 0, 209, 0.7);
  color: white;
}

.text--accent--70 {
  color: rgba(0, 0, 209, 0.7);
}

.bg__accent--65 {
  background-color: rgba(0, 0, 209, 0.65);
  color: white;
}

.text--accent--65, .nav-pills .nav-item .nav-link:is(.active) {
  color: rgba(0, 0, 209, 0.65);
}

.bg__accent--60 {
  background-color: rgba(0, 0, 209, 0.6);
  color: white;
}

.text--accent--60 {
  color: rgba(0, 0, 209, 0.6);
}

.bg__olive--100 {
  background-color: #5FD855;
  color: white;
}

.text--olive--100 {
  color: #5FD855;
}

.bg__olive--90 {
  background-color: rgba(95, 216, 85, 0.9);
  color: white;
}

.text--olive--90 {
  color: rgba(95, 216, 85, 0.9);
}

.bg__olive--85 {
  background-color: rgba(95, 216, 85, 0.85);
  color: white;
}

.text--olive--85 {
  color: rgba(95, 216, 85, 0.85);
}

.bg__olive--80 {
  background-color: rgba(95, 216, 85, 0.8);
  color: white;
}

.text--olive--80 {
  color: rgba(95, 216, 85, 0.8);
}

.bg__olive--75 {
  background-color: rgba(95, 216, 85, 0.75);
  color: white;
}

.text--olive--75 {
  color: rgba(95, 216, 85, 0.75);
}

.bg__olive--70 {
  background-color: rgba(95, 216, 85, 0.7);
  color: white;
}

.text--olive--70 {
  color: rgba(95, 216, 85, 0.7);
}

.bg__olive--65 {
  background-color: rgba(95, 216, 85, 0.65);
  color: white;
}

.text--olive--65 {
  color: rgba(95, 216, 85, 0.65);
}

.bg__olive--60 {
  background-color: rgba(95, 216, 85, 0.6);
  color: white;
}

.text--olive--60 {
  color: rgba(95, 216, 85, 0.6);
}

.bg__olive--19 {
  background-color: rgba(44, 148, 35, 0.19);
  color: white;
}

.text--olive--19 {
  color: rgba(44, 148, 35, 0.19);
}

.bg__alert--100 {
  background-color: #FFB800;
  color: white;
}

.text--alert--100 {
  color: #FFB800;
}

.bg__alert--90 {
  background-color: rgba(255, 184, 0, 0.9);
  color: white;
}

.text--alert--90 {
  color: rgba(255, 184, 0, 0.9);
}

.bg__alert--85 {
  background-color: rgba(255, 184, 0, 0.85);
  color: white;
}

.text--alert--85 {
  color: rgba(255, 184, 0, 0.85);
}

.bg__alert--80 {
  background-color: rgba(255, 184, 0, 0.8);
  color: white;
}

.text--alert--80 {
  color: rgba(255, 184, 0, 0.8);
}

.bg__alert--75 {
  background-color: rgba(255, 184, 0, 0.75);
  color: white;
}

.text--alert--75 {
  color: rgba(255, 184, 0, 0.75);
}

.bg__alert--70 {
  background-color: rgba(255, 184, 0, 0.7);
  color: white;
}

.text--alert--70 {
  color: rgba(255, 184, 0, 0.7);
}

.bg__alert--65 {
  background-color: rgba(255, 184, 0, 0.65);
  color: white;
}

.text--alert--65 {
  color: rgba(255, 184, 0, 0.65);
}

.bg__alert--60 {
  background-color: rgba(255, 184, 0, 0.6);
  color: white;
}

.text--alert--60 {
  color: rgba(255, 184, 0, 0.6);
}

.bg__alert--19 {
  background-color: rgba(197, 157, 57, 0.19);
  color: white;
}

.text--alert--19 {
  color: rgba(197, 157, 57, 0.19);
}

.bg__error--100 {
  background-color: #C73E1D;
  color: white;
}

.text--error--100 {
  color: #C73E1D;
}

.bg__error--90 {
  background-color: rgba(199, 62, 29, 0.9);
  color: white;
}

.text--error--90 {
  color: rgba(199, 62, 29, 0.9);
}

.bg__error--85 {
  background-color: rgba(199, 62, 29, 0.85);
  color: white;
}

.text--error--85 {
  color: rgba(199, 62, 29, 0.85);
}

.bg__error--80 {
  background-color: rgba(199, 62, 29, 0.8);
  color: white;
}

.text--error--80 {
  color: rgba(199, 62, 29, 0.8);
}

.bg__error--75 {
  background-color: rgba(199, 62, 29, 0.75);
  color: white;
}

.text--error--75 {
  color: rgba(199, 62, 29, 0.75);
}

.bg__error--70 {
  background-color: rgba(199, 62, 29, 0.7);
  color: white;
}

.text--error--70 {
  color: rgba(199, 62, 29, 0.7);
}

.bg__error--65 {
  background-color: rgba(199, 62, 29, 0.65);
  color: white;
}

.text--error--65 {
  color: rgba(199, 62, 29, 0.65);
}

.bg__error--60 {
  background-color: rgba(199, 62, 29, 0.6);
  color: white;
}

.text--error--60 {
  color: rgba(199, 62, 29, 0.6);
}

.bg__error--19 {
  background-color: rgba(199, 62, 29, 0.19);
  color: white;
}

.text--error--19 {
  color: rgba(199, 62, 29, 0.19);
}

.bg__secondary--100 {
  background-color: #6c757d;
  color: white;
}

.text--secondary--100 {
  color: #6c757d;
}

.bg__secondary--90 {
  background-color: rgba(108, 117, 125, 0.9);
  color: white;
}

.text--secondary--90 {
  color: rgba(108, 117, 125, 0.9);
}

.bg__secondary--85 {
  background-color: rgba(108, 117, 125, 0.85);
  color: white;
}

.text--secondary--85 {
  color: rgba(108, 117, 125, 0.85);
}

.bg__secondary--80 {
  background-color: rgba(108, 117, 125, 0.8);
  color: white;
}

.text--secondary--80 {
  color: rgba(108, 117, 125, 0.8);
}

.bg__secondary--75 {
  background-color: rgba(108, 117, 125, 0.75);
  color: white;
}

.text--secondary--75 {
  color: rgba(108, 117, 125, 0.75);
}

.bg__secondary--70 {
  background-color: rgba(108, 117, 125, 0.7);
  color: white;
}

.text--secondary--70 {
  color: rgba(108, 117, 125, 0.7);
}

.bg__secondary--65 {
  background-color: rgba(108, 117, 125, 0.65);
  color: white;
}

.text--secondary--65 {
  color: rgba(108, 117, 125, 0.65);
}

.bg__secondary--60 {
  background-color: rgba(108, 117, 125, 0.6);
  color: white;
}

.text--secondary--60 {
  color: rgba(108, 117, 125, 0.6);
}

.bg__dark--100 {
  background-color: #303030;
  color: white;
}

.text--dark--100 {
  color: #303030;
}

.bg__dark--90 {
  background-color: rgba(48, 48, 48, 0.9);
  color: white;
}

.text--dark--90 {
  color: rgba(48, 48, 48, 0.9);
}

.bg__dark--85 {
  background-color: rgba(48, 48, 48, 0.85);
  color: white;
}

.text--dark--85 {
  color: rgba(48, 48, 48, 0.85);
}

.bg__dark--80 {
  background-color: rgba(48, 48, 48, 0.8);
  color: white;
}

.text--dark--80 {
  color: rgba(48, 48, 48, 0.8);
}

.bg__dark--75 {
  background-color: rgba(48, 48, 48, 0.75);
  color: white;
}

.text--dark--75 {
  color: rgba(48, 48, 48, 0.75);
}

.bg__dark--70 {
  background-color: rgba(48, 48, 48, 0.7);
  color: white;
}

.text--dark--70 {
  color: rgba(48, 48, 48, 0.7);
}

.bg__dark--65 {
  background-color: rgba(48, 48, 48, 0.65);
  color: white;
}

.text--dark--65 {
  color: rgba(48, 48, 48, 0.65);
}

.bg__dark--60 {
  background-color: rgba(48, 48, 48, 0.6);
  color: white;
}

.text--dark--60 {
  color: rgba(48, 48, 48, 0.6);
}

.bg__critical--100 {
  background-color: #e700e7;
  color: white;
}

.text--critical--100 {
  color: #e700e7;
}

.bg__critical--90 {
  background-color: rgba(231, 0, 231, 0.9);
  color: white;
}

.text--critical--90 {
  color: rgba(231, 0, 231, 0.9);
}

.bg__critical--85 {
  background-color: rgba(231, 0, 231, 0.85);
  color: white;
}

.text--critical--85 {
  color: rgba(231, 0, 231, 0.85);
}

.bg__critical--80 {
  background-color: rgba(231, 0, 231, 0.8);
  color: white;
}

.text--critical--80 {
  color: rgba(231, 0, 231, 0.8);
}

.bg__critical--75 {
  background-color: rgba(231, 0, 231, 0.75);
  color: white;
}

.text--critical--75 {
  color: rgba(231, 0, 231, 0.75);
}

.bg__critical--70 {
  background-color: rgba(231, 0, 231, 0.7);
  color: white;
}

.text--critical--70 {
  color: rgba(231, 0, 231, 0.7);
}

.bg__critical--65 {
  background-color: rgba(231, 0, 231, 0.65);
  color: white;
}

.text--critical--65 {
  color: rgba(231, 0, 231, 0.65);
}

.bg__critical--60 {
  background-color: rgba(231, 0, 231, 0.6);
  color: white;
}

.text--critical--60 {
  color: rgba(231, 0, 231, 0.6);
}

.bg__other--gray {
  background-color: #292929;
  color: white;
}

.text--other--gray {
  color: #292929;
}

.bg__other--disable-100 {
  background-color: rgba(102, 102, 102, 0.86);
  color: white;
}

.text--other--disable-100 {
  color: rgba(102, 102, 102, 0.86);
}

.bg__other--light-100 {
  background-color: #ffffff;
  color: white;
}

.text--other--light-100 {
  color: #ffffff;
}

.bg__other--dark-100 {
  background-color: #303030;
  color: white;
}

.text--other--dark-100 {
  color: #303030;
}

body {
  font-family: "Quicksand", serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  width: 200px;
}

.nav-item a:hover {
  color: #007bff;
}

.navbar {
  justify-content: space-between;
}

.accordion-button {
  background-color: #ffe4e1;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-body {
  background-color: #fffaf0;
  border-radius: 10px;
  padding: 15px;
}

.center-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.courses-img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bg-purple {
  background-color: #eaeaff;
}

.layer {
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/612/753/non_2x/wildlife-background-concept-free-vector.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.tiger {
  width: 112px;
  top: -54px;
  z-index: 1;
}

.nav-pills .nav-item .nav-link:not(.active) {
  color: white;
}
.nav-pills .nav-item .nav-link:is(.active) {
  background-color: white;
  border-radius: 0.5rem;
}

/* Reduce font size on smaller screens */
@media (max-width: 576px) {
  .responsive-title {
    font-size: 1rem; /* Smaller title font size */
  }
  .responsive-text {
    font-size: 0.83rem; /* Smaller text font size */
  }
  .courses-img {
    width: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .logo {
    width: 150px;
  }
  .d .d-flex.justify-content-start {
    justify-content: flex-start !important;
  }
}
/* Custom styles */
.fun-icons {
  font-size: 1.5rem;
  color: #ff69b4;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
}

.card-custom {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fce4ec;
  transition: transform 0.3s;
}

.card-custom:hover {
  transform: translateY(-5px);
}

/* Mobile adjustments */
@media (max-width: 767px) {
  .fun-icons {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */